audioread==2.1.6
dlib==19.16.0
face-recognition==1.2.3
face-recognition-models==0.3.0
h5py==2.9.0
imageio==2.5.0
imagesize==0.7.1
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
librosa==0.6.3
matplotlib==1.5.3
numba==0.43.1
numexpr==2.6.1
numpy==1.16.2
pandas==0.18.1
pickleshare==0.7.4
Pillow==6.2.0
pytest==2.9.2
pytest-cache==1.0
pytest-cov==2.6.0
pytest-forked==0.2
pytest-pep8==1.0.6
pytest-xdist==1.24.1
python-dateutil==2.5.3
python-dotenv==0.1.0
python-editor==1.0.3
python-slugify==2.0.1
scikit-image==0.12.3
scikit-learn==0.20.3
scipy==1.2.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
youtube-dl==2019.4.30
